/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');


/*** Global css ***/
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --spacial-color: blue;
    --shadow-color: rgba(0, 0, 0, .2);
}


/* button */


/* CSS */
.button-1 {
    background: #EFEFF4;
    border-radius: 999px;
    border: 1px solid #600343;
    box-sizing: border-box;
    color: #600343;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;

}

.button-2 {
    background: #600343;
    border-radius: 999px;
    border: 1px solid #600343;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 30px;

}


/* bannar css */
.bannar {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    background-color: #EFEFF4;
}

.bannar .left-side {
    padding: 115px 200px;
}

.bannar .left-side h4 {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    text-transform: capitalize;
    color: #1D1C1D;

}

.bannar .left-side span {
    color: #600343;
}




.bannar .left-side p {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #1D1C1D;
}

.bannar .right-side {
    background-image: url('/asserts/img/bannar/4.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.right-side-img {
    position: absolute;
    top: 100px;
    left: 5px;
}

.right-side-img img {

    width: 230px;

}

/* bannar  */
/* card section */
.card {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 80px 100px;
}

.card-thumbel img {
    width: 100%;
}

.card-description {
    text-align: center;
}

.card-description h1 {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #600343;
    margin-bottom: 10px;
}

.card-description small {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1D1C1D;
    margin-bottom: 10px;

}

.card-description p {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #1D1C1D;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

/* card  */
/* card -2 */
.card-2-section {
    background: #F7F7F9;
    text-align: center;
    padding: 20px 0px;
}

.card-2-title {
    font-family: 'Calluna Sans';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;
    color: #1D1C1D;
}

.card-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 10px;
    margin: 40px 100px;

}

.single-card {
    text-align: center;
}

.single-card h1 {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #1D1C1D;
}

/* bannar 2 */
.bannar-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 100px;
    margin: 60px 100px;

    align-items: center;
}

.bannar-2 .left-side img {
    width: 100%;
}

.bannar-2 .right-side h2 {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-transform: capitalize;
    color: #1D1C1D;
}

.bannar-2 .right-side h3 {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #600343;
    margin: 10px 0px;
}

.bannar-2 .right-side p {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #666666;
    margin-bottom: 15px;
}

.bannar-2 .right-side .story-btn {
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    border: 1px solid #600343;
    padding: 5px 10px;
    border-radius: 20px;
    align-items: center;
    color: #600343;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn-3 {
    padding: 10px 40px;
    font-family: 'Calluna Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}