/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');


/*** Global css ***/
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

* {
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

:root {
	--bg-color: #fdfdfd;
	--text-color: #333;
	--main-color: #754ef9;
	--white-color: #fdfdfd;
	--spacial-color: blue;
	--shadow-color: rgba(0, 0, 0, .2);
}

/*  */